.text-center{
    text-align: center;
}

.border{
    border: 1px solid white;
}

.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}